.transacciones-container {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafb;
  color: #333;
  flex: 1;
}

.grid-formulario {
  display: grid;
  grid-template-columns: auto auto auto 2fr auto auto;
  gap: 1rem;
  align-items: start;
}

.grid-formulario .campo-fecha,
.grid-formulario .campo-monto,
.grid-formulario .campo-categoria,
.grid-formulario .campo-descripcion,
.grid-formulario .campo-tipopago,
.grid-formulario .campo-imagen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.grid-formulario label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  display: block;
  font-weight: 500;
  color: #111827;
}

.campo-imagen{
  max-width: 80%;
}

.campo-monto input {
  /*hacerlo mas angosto*/
max-width: 150px;
}

input,
select {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 36px;
  font-size: 0.95rem;
}

.btn-seleccion {
  padding: 0.5rem 1.25rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #f0f4f8;
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: 1rem;
  
}

.btn-seleccion:hover {
  background-color: #10b981;
}

.formulario-transaccion {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
}

.titulo-formulario {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.titulo-formulario.gasto { color: #ef4444; }
.titulo-formulario.ingreso { color: #22c55e; }

.acciones {
  margin-top: 1rem;
}

.btn-guardar {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-guardar:hover {
  background-color: #2563eb;
}

.titulo-secundario {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.lista-transacciones {
  list-style: none;
  padding: 0;
}

.item-transaccion {
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 0.75rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acciones-transaccion button {
  margin-left: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.campo-repetido {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.25rem;
  font-size: 0.85rem;
  color: #111827;
  flex-direction: row;
  justify-content: flex-start;
  
}