.pagos-pendientes-container {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
}

.contenido-tabla {
  max-width: 960px;
  margin: 0 auto;
}

  
  .titulo-pp {
    font-size: 1.5rem;
    font-weight: 700;
    color: #1e40af;
    margin-bottom: 1rem;
  }
  
  .tabla-pagos {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-pagos th,
  .tabla-pagos td {
    border: 1px solid #e5e7eb;
    padding: 12px;
    text-align: center;
  }
  
  .btn-pagado {
    background-color: #10b981;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-pagado:hover {
    background-color: #059669;
  }
  
  .mensaje {
    font-size: 18px;
    color: #6b7280;
    text-align: center;
  }
  